// varibles
$bgHomeColor: #444; // used for background ground color for body, left and right (with little opcity)
$activeColor:#ffd400; // color of active links
$bgHomeOpcityEnable:true; // by defualt true to add opacity of background color oif home page
$bgHomeOpcity:0.5;
$bgHomeImage: url('../images/computer.jpg'); // image for background
$brandImage:url('../images/profile.png');  // image for profile user
$fontSize:25px;
$parColor:#fff; // paragraph color
 

// mixins
// add background image
@mixin backImage($image){
  background-image:$image;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
}
// adjust background color, opacity and image of home page only
@mixin background($color,$opacity,$image:url('')){
    &#home{
      height:100vh;
      overflow:hidden;
      @include backImage($image);
      &:after{
        content:'';
        position:absolute;
        z-index:-1;
        top:0;
        right:0;
        width:100%;
        height:100%;
        @if $bgHomeOpcityEnable {
        background-color:rgba($color,$bgHomeOpcity)
        }
        @else {
          background-color:$color
        }
      }
    }
    &#about-info{
      background-color:rgba($bgHomeColor,0.7);
    
    }
    &#work{
      background-color:rgba($bgHomeColor,0.7);
    }
    
}
// configure container as a flex box align item strech
@mixin flexStretch{
  display:flex;
  flex-flow:row nowrap;
  align-items:stretch;
}
// configure a container as flex box with column direction
@mixin flexCol{
  display:flex;
  flex-direction:column;
}
// configure a global mixin for flex container
@mixin flexGlobal($dir:row,$hrAlign:center,$vrAlign:center){
  display:flex;
  flex-flow:#{$dir} nowrap;
  justify-content:$hrAlign;
  align-items:$vrAlign;
}
// configure mixin for transition
@mixin easeInOut($time:0.7s){
  transition: all #{$time} ease-in-out;
}
@mixin easeOut($time:0.5s){
  transition:all #{$time} ease-out;
}
// configure mixin to adjust media query
// for extra small screen (smart phones)
@mixin mXs{
  @media screen and (max-width:576px){
    @content;
  }
}
// for  small screen (tables)
@mixin mSm{
  @media screen and (max-width:768px){
    @content;
  }
}
// for medium  screen (small labtop)
@mixin mMd{
  @media screen and (max-width:992px){
    @content;
  }
}
// for large screen (PC)
@mixin mXs{
  @media screen and (max-width:1200px){
    @content;
  }
}
// for extra large screen (TV, ..)
@mixin mXs{
  @media screen and (min-width:1201px){
    @content;
  }
}
// functions
// create function for color
@function set-color($color){
  @if(lightness($color) > 40){
    @return #000;
  }@else{
    @return #fff;
  }
}