// import partials 
@import 'config';
@import 'menu';

// global rules
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  // reset ul style   
  ul{
    list-style:none;
  }
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  @include background($bgHomeColor,$bgHomeOpcity,$bgHomeImage);
//  start header style
  header{
    position:fixed;
    top:0;
    width:100%;
    z-index:5;
//     start menu style
    .nav-menu{
      position:fixed;
      width:100%;
      top:0;
      visibility:hidden;
      &>div{
      width:50%;
      height:100vh;
      float:left;
      visibility:hidden;
      }
      .left-content{
      @include flexGlobal;
      @include easeInOut;
      background-color:rgba($bgHomeColor,0.7);
      -webkit-transform:translateY(100%);
              transform:translateY(100%);
      .portait-image{
        overflow:hidden;
        border-radius:50%;
        border:2px solid $activeColor;
        width:200px;
        height:200px;
        @include backImage($brandImage);
      }
      &.show{
        -webkit-transform:translateY(0);
                transform:translateY(0);
        visibility: visible;
      }
    }
      .right-content{
      @include flexGlobal;
      @include easeInOut;
      -webkit-transform:translateY(-100%);
              transform:translateY(-100%);
      background-color:rgba($bgHomeColor,0.2);
      .menu{
        width:100%;
        text-align:center;
      }
      .menu-item{
        padding:10px 0;
        -webkit-transform:translate3d(600px,0,0);
                transform:translate3d(600px,0,0);
        @include easeInOut;
        &.show{
          -webkit-transform:translate3d(0,0,0);
                  transform:translate3d(0,0,0);
        }
      }
      @for $i from 1 through 4{
          .menu-item:nth-child(#{$i}){
            -webkit-transition-delay: $i * 0.1s;
                    transition-delay: $i * 0.1s;
          }
        }    
      .menu-link{
        display:inline-block;
        @include easeOut;
        text-decoration:none;
        color:set-color($bgHomeColor);
        text-transform:capitalize;
        font-size:$fontSize * 1.25;
        font-weight:normal !important;
        &:hover{
          color:$activeColor;
          -webkit-transform:scale(1.3);
          transform:scale(1.3);
        }
        &.active{
          color:$activeColor;
        }
      }
       &.show{
        -webkit-transform:translateY(0);
                transform:translateY(0);
        visibility: visible;
      }  
    }
      &.show{
      visibility:visible;
      }
    }
//     start menu button style
    .btn-expand{
      @include easeInOut(0.5s);
      cursor:pointer;
      position:absolute;
      display:inline-block;
      right:10px;
      top:10px;
      z-index:30;
      width:51px;
      padding:5px;
      .btn-icon{
        span{
          @include easeInOut(0.5s);
          display:block;
          background-color:set-color($bgHomeColor);
          height:4px;
          &:not(:last-child){
            margin-bottom:6px;
          }
        }
        &.close{
          span:nth-child(1){
            -webkit-transform: rotate(45deg) translate(10px, 8px);
                    transform: rotate(45deg) translate(10px, 8px);
          }
          span:nth-child(2){
            opacity:0;
          }
          span:nth-child(3){
            -webkit-transform: rotate(-45deg) translate(6px, -4px);
                    transform: rotate(-45deg) translate(6px, -4px);
          }
        }
      }
      &.close{
        -webkit-transform:rotate(180deg);
                transform:rotate(180deg);
      }
    }
  }
//   start main content style
  .main-content{
    height:100vh;
    padding:200px 80px 0 80px;
    h1{
      text-transform:capitalize;
      color:set-color($bgHomeColor);
      margin-bottom:10px;
      font-size:$fontSize * 3.4;
      font-weight:normal !important;
      span{
        color:$activeColor;
      }
    }
    h3{
      margin-bottom:5px;
      color:set-color($bgHomeColor);
      font-size:$fontSize * 1.25;
      text-transform:capitalize;
      padding:5px;
      background-color:rgba($bgHomeColor,0.7);
      font-weight:normal !important;
    }
    .icons{
      padding:10px 0;
      i{
        @include easeInOut(0.3s);
        margin-right:15px;
        color:set-color($bgHomeColor);
        cursor:pointer;
        font-size:$fontSize * 1.25;
        &:hover{
          color:$activeColor;
        }
      }
    }
  }
  // style for about page
  .about-content{
    min-height:calc(100vh - 50px);
    padding:100px 80px;
    h1{
      text-transform:capitalize;
      color:set-color($bgHomeColor);
      margin-bottom:10px;
      font-size:$fontSize * 3.4;
      font-weight:normal !important;
      span{
        color:$activeColor;
      }
    }
    h3{
      margin-bottom:5px;
      color:set-color($bgHomeColor);
      font-size:$fontSize * 1.25;
      text-transform:capitalize;
      padding:5px;
      background-color:rgba($bgHomeColor,0.7);
      font-weight:normal !important;
    }
    .info{
      margin-top:20px;
      display: grid;
      grid-gap: 30px;
      grid-template-areas: 'image bio bio' 'job1 job2 job3';
      grid-template-columns: repeat(3, 1fr);
      img{
        grid-area:image;
        overflow:hidden;
        border-radius:50%;
        border:2px solid $activeColor;
        width:200px;
        height:200px;
        margin:auto;
      }
      .bio{
        grid-area:bio;
        h4{
          color:set-color($activeColor);
        }
      }
      .portfolio{
        
      }
      .job1{
        grid-area:job1;
      }
      .job2{
        grid-area:job2;
      }
      .job3{
        grid-area:job3;
      }
      
    }
    
  }
  footer{
    color:set-color($bgHomeColor);
    height:50px;
    @include flexGlobal;
    background-color:darken($bgHomeColor, 10%);
    text-transform: capitalize;;
  }
}

@import 'mobile';
