* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* ul {
  list-style: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body#home {
  height: 100vh;
  overflow: hidden;
  background-image: url("../images/computer.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
body#home:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.5);
}
body#about-info {
  background-color: rgba(68, 68, 68, 0.7);
}
body#work {
  background-color: rgba(68, 68, 68, 0.7);
}
body header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}
body header .nav-menu {
  position: fixed;
  width: 100%;
  top: 0;
  visibility: hidden;
}
body header .nav-menu > div {
  width: 50%;
  height: 100vh;
  float: left;
  visibility: hidden;
}
body header .nav-menu .left-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
  background-color: rgba(68, 68, 68, 0.8);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
body header .nav-menu .left-content .portait-image {
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #ffd400;
  width: 200px;
  height: 200px;
  background-image: url("../images/profile.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
body header .nav-menu .left-content.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
}
body header .nav-menu .right-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: rgba(68, 68, 68, 0.9);
}
body header .nav-menu .right-content .menu {
  width: 100%;
  text-align: center;
}
body header .nav-menu .right-content .menu-item {
  padding: 10px 0;
  -webkit-transform: translate3d(600px, 0, 0);
  transform: translate3d(600px, 0, 0);
  transition: all 0.7s ease-in-out;
}
body header .nav-menu .right-content .menu-item.show {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
body header .nav-menu .right-content .menu-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
body header .nav-menu .right-content .menu-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
body header .nav-menu .right-content .menu-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
body header .nav-menu .right-content .menu-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
body header .nav-menu .right-content .menu-link {
  display: inline-block;
  transition: all 0.5s ease-out;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 31.25px;
  font-weight: normal !important;
}
body header .nav-menu .right-content .menu-link:hover {
  color: #ffd400;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
body header .nav-menu .right-content .menu-link.active {
  color: #ffd400;
}
body header .nav-menu .right-content.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
}
body header .nav-menu.show {
  visibility: visible;
}
body header .btn-expand {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  right: 40px;
  top: 10px;
  z-index: 30;
  width: 51px;
  padding: 5px;
}
body header .btn-expand .btn-icon span {
  transition: all 0.5s ease-in-out;
  display: block;
  background-color: #fff;
  height: 4px;
}
body header .btn-expand .btn-icon span:not(:last-child) {
  margin-bottom: 6px;
}
body header .btn-expand .btn-icon.close span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(10px, 8px);
  transform: rotate(45deg) translate(10px, 8px);
}
body header .btn-expand .btn-icon.close span:nth-child(2) {
  opacity: 0;
}
body header .btn-expand .btn-icon.close span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(6px, -4px);
  transform: rotate(-45deg) translate(6px, -4px);
}
body header .btn-expand.close {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
body .main-content {
  height: 100vh;
  padding: 200px 80px 0 80px;
}
body .main-content h1 {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 10px;
  font-size: 85px;
  font-weight: normal !important;
}
body .main-content h1 span {
  color: #ffd400;
}
body .main-content h3 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 31.25px;
  text-transform: capitalize;
  padding: 5px;
  background-color: rgba(68, 68, 68, 0.7);
  font-weight: normal !important;
}
body .main-content .icons {
  padding: 10px 0;
}
body .main-content .icons i {
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
  color: #fff;
  cursor: pointer;
  font-size: 31.25px;
}
body .main-content .icons i:hover {
  color: #ffd400;
}
body .about-content {
  min-height: calc(100vh - 70px);
  padding: 100px 80px;
}
body .about-content h1 {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 10px;
  font-size: 85px;
  font-weight: normal !important;
}
body .about-content h1 span {
  color: #ffd400;
}
body .about-content h3 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 31.25px;
  text-transform: capitalize;
  padding: 5px;
  background-color: #494949;
  font-weight: normal !important;
}
body .about-content .info {
  margin-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "image bio bio" "job1 job2 job3";
}
body .about-content .info img {
  grid-area: image;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #ffd400;
  width: 200px;
  height: 200px;
  margin: auto;
}
body .about-content .info .bio {
  grid-area: bio;
}
body .about-content .info .bio h4 {
  color: #ffd400;
  text-transform: uppercase;
  font-size: 37.5px;
  font-weight: normal;
}
body .about-content .info .bio p {
  color: #fff;
  font-size: 25px;
}
body .about-content .info .portfolio {
  border-bottom: 2px solid #ffd400;
  padding: 25px;
  background-color: #515151;
  color: #fff;
}
body .about-content .info .portfolio h5 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 15px;
}
body .about-content .info .portfolio h6 {
  font-size: 18.75px;
  font-weight: normal;
  margin-bottom: 15px;
}
body .about-content .info .portfolio p {
  line-height: 1.4;
}
body .about-content .info .job1 {
  grid-area: job1;
}
body .about-content .info .job2 {
  grid-area: job2;
}
body .about-content .info .job3 {
  grid-area: job3;
}
body .work-content {
  min-height: calc(100vh - 70px);
  padding: 100px 80px;
}
body .work-content h1 {
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 10px;
  font-size: 85px;
  font-weight: normal !important;
}
body .work-content h1 span {
  color: #ffd400;
}
body .work-content h3 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 31.25px;
  text-transform: capitalize;
  padding: 5px;
  background-color: #494949;
  font-weight: normal !important;
}
body .work-content .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}
body .work-content .content .item img {
  width: 100%;
  height: auto;
  border: 3px solid #fff;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
body .work-content .content .item img:hover {
  opacity: 0.5;
}
body .work-content .content .item .btn, body .work-content .content .item .btn-light, body .work-content .content .item .btn-dark {
  display: block;
  padding: 15px 20px;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
body .work-content .content .item .btn:hover, body .work-content .content .item .btn-light:hover, body .work-content .content .item .btn-dark:hover {
  background: #ffd400;
  color: #000;
}
body .work-content .content .item .btn-dark {
  background-color: #2b2b2b;
  color: #fff;
}
body .work-content .content .item .btn-light {
  background-color: #5e5e5e;
  color: #fff;
}
body .work-content .content .item i {
  margin-right: 5px;
}
body footer {
  font-size: 25px;
  color: #fff;
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #2b2b2b;
  text-transform: capitalize;
}

/*
** This file used for responsive ( small screen)
**
*/
@media screen and (max-width: 992px) {
  #work .content {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 768px) {
  #work .content {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media screen and (max-width: 768px) {
  body .main-content {
    padding: 100px 40px 0 40px !important;
  }
  body .main-content h1 {
    font-size: 37.5px !important;
  }
  body .main-content h3 {
    font-size: 25px !important;
  }
  body .main-content .icons i {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 768px) {
  body .left-content, body .right-content {
    float: none !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  body .left-content {
    height: 30vh !important;
    transform: translateX(-100%) !important;
  }
  body .left-content.show {
    transform: translateX(0) !important;
  }
}
@media screen and (max-width: 768px) {
  body .left-content .portait-image {
    width: 150px !important;
    height: 150px !important;
  }
}
@media screen and (max-width: 768px) {
  body .right-content {
    height: 70vh !important;
    transform: translateX(100%) !important;
  }
  body .right-content.show {
    transform: translateX(0) !important;
  }
}
@media screen and (max-width: 768px) {
  body .about-content {
    padding: 100px 40px !important;
  }
  body .about-content h1 {
    font-size: 37.5px !important;
  }
  body .about-content h3 {
    font-size: 25px !important;
  }
  body .about-content .info {
    display: block;
  }
  body .about-content .info img, body .about-content .info .bio, body .about-content .info .portfolio {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
